<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шаблон с циклом</title>
</head>
<body>
    <h2>Elements of list</h2>
    <ul>
        {% for item in my_list %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h2>Keys and values of dictionary</h2>
    <table>
        <tr><td>KEY</td><td>VALUE</td></tr>
        {% for key, value in my_dict.items %}
        <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>